@import url("https://fonts.googleapis.com/css?family=Open+Sans|Lato|Roboto|Montserrat|Oswald&display=swap");
body {
  /* height: 98vh; */
  /* border: solid yellow; */
}
.global {
  border: solid yellow;
  height: 98vh;
  display: flex;
  background-color: black;
  font-family: "Montserrat";
  color: white;
}
.resume {
  border: solid black;
  height: 98vh;
  display: flex;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.hobbies {
  border: solid black;
  height: 100%;
  display: flex;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.portfolio {
  border: solid black;
  height: 98vh;
  display: flex;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.menu {
  /* border: solid orange; */
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  opacity: 0.5;
}
.picture {
  /* border: solid green; */
  margin-top: 5%;
  height: 30vh;
}
.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name {
  color: brown;
  background-color: white;
  width: 90%;
  height: 2em;
  font-size: 1.5em;
  padding-top: 4%;
  text-align: center;
  box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
  border-radius: 3%;
}
.name:hover {
  animation: textChange 0.5s ease-in-out;
}
@keyframes textChange {
  0% {
    transform: rotateY(0deg);
    /* transform: translateX(0); */
  }
  100% {
    transform: rotateY(360deg);
    /* transform: translateX(42px); */
  }
}
.menu-buttons-container {
  /* border: solid brown; */
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: -20%; */
  text-align: center;
  width: 90%;
}

.button-menu {
  background-color: rgb(165, 42, 42);
  width: 100%;
  height: 2em;
  color: white;
  font-size: 1.2em;
  padding-top: 4%;
  box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
  border-radius: 3%;
}
.menu a {
  text-decoration: none;
}
.button-menu:hover {
  font-size: 1.3em;
  cursor: pointer;
}
.icons {
  /* border: solid orangered; */
  display: flex;
  justify-content: space-around;
  height: 3em;
  align-items: center;
  background-color: black;
  width: 80%;
  margin-bottom: 5%;
}
.icon {
  color: white;
}
.icon:hover {
  color: brown;
  cursor: pointer;
  /* height: 110%; */
}

.main {
  /* border: solid salmon; */
  height: 100%;
  width: 50%;
  position: relative;
  margin: auto;
}
.affichage {
  border: solid red;
  height: 50%;
  color: white;
  margin-top: 10%;
  padding: 2%;
}
.main-buttons-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.button-main {
  background-color: brown;
  width: 20%;
  height: 2em;
  color: white;
  font-size: 1.2em;
  padding-top: 2%;
  margin-top: 2%;
  box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
  border-radius: 3%;
}
.button-main:hover {
  cursor: pointer;
  font-size: 1.3em;
}
.main-hobbies-container {
  /* border: solid red; */
  width: 60%;
  display: grid;
  margin-left: 10%;
  /* margin-top: 1%; */
  height: 98vh;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: "Montserrat";
  font-size: 1em;
}
.hobby {
  /* border: solid yellow; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% auto 35%;
  gap: 10px;
  text-align: center;
  /* background-color: brown; */
  border-radius: 5%;
}
.hobby-flipped {
  position: absolute;
  visibility: hidden;
}
.hobby-title {
  /* border: solid blue; */
  background-color: brown;
  border-radius: 10px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  padding-top: 1%;
  /* background-color:green; */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.hobby-image-container {
  /* border: solid blue; */
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.hobby-image {
  width: 50%;
  height: 100%;
  margin-left: 7%;
}
.hobby-quote {
  /* border: solid blue; */
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  font-family: "Brush Script MT", cursive;
  font-size: 1em;
}
.hobby-text {
  /* border: solid blue;    */
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  font-weight: bold;
  /* font-family: 'Montserrat'; */
}
.back {
  background-color: brown;
  border-radius: 5%;
  font-size: 5em;
  text-align: center;
  padding-top: 20%;
  cursor: pointer;
}
.delete-back {
  position: absolute;
  width: 0px;
  height: 0px;
  color: black;
  z-index: -1;
}
.repos-container {
  border: solid brown;
  width: 60%;
  height: 60%;
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: auto;
}
.single-repo {
  border: solid salmon 1px;
  height: 10rem;
  border-radius: 5%;
  padding-top: 2%;
  padding-left: 2%;
}
.repo-name {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 5%;
}
.repos-container a {
  color: white;
  text-decoration: none;
}

/* ////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* ////////////////////////////////////
 */
@media (max-width: 650px) {
  .global {
    border: solid yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: "Montserrat";
    color: white;
  }
  .menu {
    /* border: solid orange; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .resume {
    border: solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .resume-pdf {
    width: 100%;
    height: 500px;
  }
  .hobbies {
    border: solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .portfolio {
    border: solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .picture {
    /* border: solid green; */
    margin-top: 5%;
    height: 30vh;
    margin-bottom: 5%;
  }
  .profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .name {
    color: brown;
    background-color: white;
    width: 90%;
    height: 2em;
    font-size: 1.5em;
    padding-top: 4%;
    text-align: center;
    box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
    border-radius: 3%;
    margin: 5%;
  }
  .menu-buttons-container {
    /* border: solid brown; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: -20%; */
    text-align: center;
    width: 90%;
  }

  .button-menu {
    background-color: rgb(165, 42, 42);
    width: 100%;
    height: 2em;
    color: white;
    font-size: 1.2em;
    padding-top: 4%;
    box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
    border-radius: 3%;
  }
  .menu a {
    text-decoration: none;
  }
  .main {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
  }
  .affichage {
    /* border: solid red; */
    /* height: 50%; */
    height: 100%;
    color: white;
    margin-top: 10%;
    padding: 2%;
  }
  .main-buttons-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .button-main {
    /* background-color: brown; */
    width: 30%;
    height: 2em;
    color: white;
    font-size: 1.2em;
    padding-top: 2%;
    margin-top: 2%;
    box-shadow: 1px 3px rgb(165, 42, 42, 0.4);
    border-radius: 3%;
  }
  /* //////////////////////////////// */
  /* Hobbies */
  /* ///////////////////////////////// */
  .main-hobbies-container {
    /* border: solid red; */

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 1%;
  }
  .hobby {
    /* border: solid yellow; */
    margin-top: 1%;
    /* height: 100%; */
  }
  .hobby-flipped {
    position: absolute;
    visibility: hidden;
  }
  .hobby-title {
    /* border: solid blue; */
    background-color: brown;
    border-radius: 10px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    padding-top: 2%;
    padding-bottom: 5%;
    /* background-color:green; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hobby-image-container {
    /* border: solid blue; */
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .hobby-image {
    width: 50%;
    height: 100%;
    margin-left: 7%;
  }
  .hobby-quote {
    /* border: solid blue; */
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    font-family: "Brush Script MT", cursive;
    font-size: 1em;
  }
  .hobby-text {
    /* border: solid blue;    */
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    font-weight: bold;
    /* font-family: 'Montserrat'; */
  }
  .back {
    background-color: brown;
    border-radius: 5%;
    font-size: 5em;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    cursor: pointer;
  }
  .delete-back {
    position: absolute;
    width: 0px;
    height: 0px;
    color: black;
    z-index: -1;
  }
  /* /////////////////////////////////////// */
  .repos-container {
    border: solid brown;
    width: 100%;
    height: 60%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
  }
  .single-repo {
    border: solid salmon 1px;
    height: 10rem;
    border-radius: 5%;
    padding-top: 2%;
    padding-left: 2%;
  }
  .repo-name {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5%;
  }
  .repos-container a {
    color: white;
    text-decoration: none;
  }
}
